
.avatar {
    --border-color: #20C2F7;
    --background-color: #212752;
    --avatar-size: 200px;
    height: var(--avatar-size);
    width: var(--avatar-size);
    border: 4px solid var(--border-color);
    padding: 13px;
    border-radius: 50%;
    position: relative;
    margin-top: 5px;
  }
  .avatar::before, .avatar::after {
    content: "";
    position: absolute;
    height: 6px;
    width: 6px;
    transform: rotate(45deg);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .avatar::before {
    box-shadow: 0px 0px 0px transparent, 4.94975rem 4.94975rem #20C2F7, 0rem 7rem #20C2F7, -4.94975rem 4.94975rem #20C2F7, -7rem 0rem #20C2F7, -4.94975rem -4.94975rem #20C2F7, 0rem -7rem #20C2F7, 4.94975rem -4.94975rem #20C2F7, 7rem 0rem #20C2F7;
    -webkit-animation: animate-2 1s ease-in-out infinite;
            animation: animate-2 1s ease-in-out infinite;
  }
  .avatar::after {
    box-shadow: 0px 0px 0px transparent, 5.54328rem 2.2961rem #20C2F7, 4.24264rem 4.24264rem #20C2F7, 2.2961rem 5.54328rem #20C2F7, 0rem 6rem #20C2F7, -2.2961rem 5.54328rem #20C2F7, -4.24264rem 4.24264rem #20C2F7, -5.54328rem 2.2961rem #20C2F7, -6rem 0rem #20C2F7, -5.54328rem -2.2961rem #20C2F7, -4.24264rem -4.24264rem #20C2F7, -2.2961rem -5.54328rem #20C2F7, 0rem -6rem #20C2F7, 2.2961rem -5.54328rem #20C2F7, 4.24264rem -4.24264rem #20C2F7, 5.54328rem -2.2961rem #20C2F7, 6rem 0rem #20C2F7;
    transform: rotate(12deg);
    -webkit-animation: animate-1 1s ease-in-out infinite;
            animation: animate-1 1s ease-in-out infinite;
  }
  .avatar img {
    max-width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: inherit;
  }
  
  @-webkit-keyframes animate-1 {
    0%,
    100% {
      box-shadow: 0px 0px 0px transparent, 5.54328rem 2.2961rem #20C2F7, 4.24264rem 4.24264rem #20C2F7, 2.2961rem 5.54328rem #20C2F7, 0rem 6rem #20C2F7, -2.2961rem 5.54328rem #20C2F7, -4.24264rem 4.24264rem #20C2F7, -5.54328rem 2.2961rem #20C2F7, -6rem 0rem #20C2F7, -5.54328rem -2.2961rem #20C2F7, -4.24264rem -4.24264rem #20C2F7, -2.2961rem -5.54328rem #20C2F7, 0rem -6rem #20C2F7, 2.2961rem -5.54328rem #20C2F7, 4.24264rem -4.24264rem #20C2F7, 5.54328rem -2.2961rem #20C2F7, 6rem 0rem #20C2F7;
    }
    50% {
      box-shadow: 0px 0px 0px transparent, 5.08134rem 2.10476rem #20C2F7, 3.88909rem 3.88909rem #20C2F7, 2.10476rem 5.08134rem #20C2F7, 0rem 5.5rem #20C2F7, -2.10476rem 5.08134rem #20C2F7, -3.88909rem 3.88909rem #20C2F7, -5.08134rem 2.10476rem #20C2F7, -5.5rem 0rem #20C2F7, -5.08134rem -2.10476rem #20C2F7, -3.88909rem -3.88909rem #20C2F7, -2.10476rem -5.08134rem #20C2F7, 0rem -5.5rem #20C2F7, 2.10476rem -5.08134rem #20C2F7, 3.88909rem -3.88909rem #20C2F7, 5.08134rem -2.10476rem #20C2F7, 5.5rem 0rem #20C2F7;
    }
  }
  
  @keyframes animate-1 {
    0%,
    100% {
      box-shadow: 0px 0px 0px transparent, 5.54328rem 2.2961rem #20C2F7, 4.24264rem 4.24264rem #20C2F7, 2.2961rem 5.54328rem #20C2F7, 0rem 6rem #20C2F7, -2.2961rem 5.54328rem #20C2F7, -4.24264rem 4.24264rem #20C2F7, -5.54328rem 2.2961rem #20C2F7, -6rem 0rem #20C2F7, -5.54328rem -2.2961rem #20C2F7, -4.24264rem -4.24264rem #20C2F7, -2.2961rem -5.54328rem #20C2F7, 0rem -6rem #20C2F7, 2.2961rem -5.54328rem #20C2F7, 4.24264rem -4.24264rem #20C2F7, 5.54328rem -2.2961rem #20C2F7, 6rem 0rem #20C2F7;
    }
    50% {
      box-shadow: 0px 0px 0px transparent, 5.08134rem 2.10476rem #20C2F7, 3.88909rem 3.88909rem #20C2F7, 2.10476rem 5.08134rem #20C2F7, 0rem 5.5rem #20C2F7, -2.10476rem 5.08134rem #20C2F7, -3.88909rem 3.88909rem #20C2F7, -5.08134rem 2.10476rem #20C2F7, -5.5rem 0rem #20C2F7, -5.08134rem -2.10476rem #20C2F7, -3.88909rem -3.88909rem #20C2F7, -2.10476rem -5.08134rem #20C2F7, 0rem -5.5rem #20C2F7, 2.10476rem -5.08134rem #20C2F7, 3.88909rem -3.88909rem #20C2F7, 5.08134rem -2.10476rem #20C2F7, 5.5rem 0rem #20C2F7;
    }
  }
  @-webkit-keyframes animate-2 {
    0%,
    100% {
      box-shadow: 0px 0px 0px transparent, 3.88909rem 3.88909rem #20C2F7, 0rem 5.5rem #20C2F7, -3.88909rem 3.88909rem #20C2F7, -5.5rem 0rem #20C2F7, -3.88909rem -3.88909rem #20C2F7, 0rem -5.5rem #20C2F7, 3.88909rem -3.88909rem #20C2F7, 5.5rem 0rem #20C2F7;
    }
    50% {
      box-shadow: 0px 0px 0px transparent, 4.24264rem 4.24264rem #20C2F7, 0rem 6rem #20C2F7, -4.24264rem 4.24264rem #20C2F7, -6rem 0rem #20C2F7, -4.24264rem -4.24264rem #20C2F7, 0rem -6rem #20C2F7, 4.24264rem -4.24264rem #20C2F7, 6rem 0rem #20C2F7;
    }
  }
  @keyframes animate-2 {
    0%,
    100% {
      box-shadow: 0px 0px 0px transparent, 3.88909rem 3.88909rem #20C2F7, 0rem 5.5rem #20C2F7, -3.88909rem 3.88909rem #20C2F7, -5.5rem 0rem #20C2F7, -3.88909rem -3.88909rem #20C2F7, 0rem -5.5rem #20C2F7, 3.88909rem -3.88909rem #20C2F7, 5.5rem 0rem #20C2F7;
    }
    50% {
      box-shadow: 0px 0px 0px transparent, 4.24264rem 4.24264rem #20C2F7, 0rem 6rem #20C2F7, -4.24264rem 4.24264rem #20C2F7, -6rem 0rem #20C2F7, -4.24264rem -4.24264rem #20C2F7, 0rem -6rem #20C2F7, 4.24264rem -4.24264rem #20C2F7, 6rem 0rem #20C2F7;
    }
  }


.nav-items
{
  color: white;
  margin-top: 20px;
  margin-left: 26px;
  background-color: #132644;
}

.nav-link svg
{
    margin-right: 10px;
    font-size: 23px;
}

.nav-link {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  color:white;
  line-height: 2;
  font-family: 'Cherry Swash';
  text-decoration: none;
  margin-top: 1px;
  cursor: pointer;
}
.nav-link:hover {
  color: #f29f67;
}

.nav-link .active {
  color: #f29f67;
  border-left: 5px solid #f29f67;
  padding-left: 10px;
  text-decoration: none;
}
.nav-link {
  display: flex;
  align-items: center;
  padding: 10px;
  color:white; /* Change color as needed */
  text-decoration: none;
}

.nav-link.active {
  background-color: #f0f0f0; /* Highlight color for active item */
  border-radius: 5px;
  font-weight: bold; /* Optional: make the active link bold */
}

.icon {
  margin-right: 10px; /* Space between icon and title */
  font-size: 1.5rem; /* Adjust icon size */
}

.title {
  font-size: 1rem; /* Adjust title size */
}
