.work {
  background-color:#ffffff;
  margin-left: 230px;
}

.work-exp {
  padding: 60px 0px;
}

.work-exp h2 {
  font-weight: bold;
  color: #1e1e2c;
 
}

.work-exp hr{
  color: #138781;
  height: 2px;
  width: 400px;
  margin: 10px auto;
}

 .col-1 {
  color: blue;
}
.col-2 {
  color: green;
}
.col-3 {
  color: purple;
}

.work-exp .vertical-timeline-element-title {
  font-weight: 800;
}
.bo
{
     padding: 80px;
     box-shadow: 0 1px 1px rgba(0,0,0,0.08), 0 2px 2px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.16), 0 8px 8px rgba(0,0,0,0.20);
}
.bo span
{
  font-size: 20px;
  font-weight: 600;
}
.bo p
{
  font-size: 18px;
  font-weight: 500;
}


/* ===== DARK MODE ========== */
#dark .work {
  background-color: #643a6b;
}

#dark .work-exp h2 {
  color: white;
}

/* =================== */

@media (max-width: 600px) {
  .work {
    margin: 0;
    padding: 0;
    margin-top: 50px;
    margin-left: 10px;
  }
  .work hr {
    width: 280px;
  }


}
@media(max-width:470px)
{
  .work {
    margin: 0;
    padding: 0;
    margin-top: 50px;
    margin-left: 1px;
  }
  .bo
{
   
     padding: 50px;
     box-shadow: 0 1px 1px rgba(0,0,0,0.08), 0 2px 2px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.16), 0 8px 8px rgba(0,0,0,0.20);
}
.bo span
{
  font-size: 18px;
  font-weight: 700;
}
.bo p
{
  font-size: 16px;
  font-weight: 600;
}
}
@media(max-width:350px)
{
  .work {
    margin-left: 0px;
  }
  .bo
{
     padding: 0px;
     width: 250px;
}
.time
{
  margin-left: -1px;
}

}
@media screen and (max-width: 650px) and (min-width: 600px)
{
.work {
    margin: 0;
    padding: 0;
    margin-top: 50px;
    margin-left: 1px;
  }
  .bo
{
   
     padding: 10px;
     box-shadow: 0 1px 1px rgba(0,0,0,0.08), 0 2px 2px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.16), 0 8px 8px rgba(0,0,0,0.20);
}
}